html,body{
    padding: 0;
    margin:0;
    height: 100%;
    background-color: black;
    color:white;
}

header{
    min-height: 200px;
    background-color: aliceblue;
}
main{
    text-align: center;
}
footer{
    min-height: 20px;
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:gray;
    background-color: aliceblue;
}